<!DOCTYPE html>
<html lang='es'>
    <head>
        <title>Nueva Marca</title>
        <meta charset="utf-8">
        <meta name ="viewport" content ="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <style> a {text-decoration: none}
                hr{
                    border: 0;
                    position: relative;
                    height: 1px;
                    margin-bottom: -14px;
                    overflow: hidden;
                    background-image: linear-gradient(to right, rgba(0, 191, 255, 0), rgba(0, 191, 255, 0.75), rgba(0, 191, 255, 0));
                }
        </style>
    </head>
    <body class = "w3-dark-grey">
        <h1 class="w3-text-aqua" style="font-weight:bold">&nbsp; Nueva Marca</h1>
        <br>
        <div class="w3-container w3-teal">
          <p>&nbsp;&nbsp;&nbsp;<b>Instrucciones:</b>&nbsp; Ingresa los datos que se piden a continuación.</p>
        </div>
        <br>
        <form class="w3-container" action="/practica7/Crear" method="POST" >
          <label class="w3-text-red"><b>Marca:</b></label>
          <input class="w3-input w3-border w3-light-grey" type="text" id="marca" name="marca" placeholder="Nombre de la marca">
        
          <label class="w3-text-red"><b>Establecimiento:</b></label>
          <input class="w3-input w3-border w3-light-grey" type="number" id="establecimiento" name="establecimiento" placeholder="Año de establecimiento">
          
          <label class="w3-text-amber"><b>Origen:</b></label>
          <input class="w3-input w3-border w3-light-grey" type="text" id="origen" name="origen" placeholder="País de origen">
          
          <label class="w3-text-amber"><b>URL:</b></label>
          <input class="w3-input w3-border w3-light-grey" type="text" id="url" name="url" placeholder="URL de la marca">
            
          <br>
          
          <button type="submit" value="Añadir" class="w3-btn  w3-round-xxlarge w3-indigo">Añadir</button>
        </form>
        <hr>
        <p style="color:rgba(0, 250, 255, 0.35); text-align: center; font-size: 12px;">Desarrollo de aplicaciones web</p>
    </body>
</html>