<!DOCTYPE html>
<html>
    <head>
        <title>Bye Bye Marca</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <style> a {text-decoration: none}
                hr{
                    border: 0;
                    position: relative;
                    height: 1px;
                    margin-bottom: -14px;
                    overflow: hidden;
                    background-image: linear-gradient(to right, rgba(0, 191, 255, 0), rgba(0, 191, 255, 0.75), rgba(0, 191, 255, 0));
                    border-bottom: 1px
                }
        </style>
    </head>
    <body class = "w3-dark-grey">
    <h1 class="w3-text-aqua" style="font-weight:bold">&nbsp Freeeeeeedooooooooooom</h1>
    <br>
    <div class="w3-container">
      <table class="w3-table-all">
        <thead>
          <tr class="w3-teal">
            <th>Marca</th>
            <th>Establecimiento</th>
            <th>Origen</th>
            <th>URL</th>
          </tr>
        </thead>
        <%carros.forEach((carro)=>{%>
        <tr class="w3-hover-amber w3-text-black">
          <td><%=carro["marca"]%></td>
          <td><%=carro["establecimiento"]%></td>
          <td><%=carro["origen"]%></td>
          <td><a href="<%=carro["url"]%>"><%=carro["url"]%></a></td>
        </tr>
        <%});%>
      </table>
    </div>
    
    <br>
        <form class="w3-container" method="POST" action="/practica7/Eliminar?_method=DELETE">
          <label class="w3-text-red"><b>Eliminar:</b></label>
          <input type="hidden" name="_method" value="DELETE">
          <input class="w3-input w3-border w3-light-grey" type="text" name="marca" placeholder="Nombre de la marca">
          <br>
          <button class="w3-btn  w3-round-xxlarge w3-indigo">Eliminar</button>
         </form>
    <br>
    <hr>
    <p align="center" style="color:rgba(0, 250, 255, 0.35)"><font size='1'>Desarrollo de aplicaciones web</font></p>
    </body>
</html> 