<!DOCTYPE html>
<html lang='es'>
    <head>
        <title>Práctica 7</title>
        <meta charset="utf-8">
        <meta name ="viewport" content ="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <style> a {text-decoration: none}
                hr{
                    border: 0;
                    position: relative;
                    height: 1px;
                    margin-bottom: -14px;
                    overflow: hidden;
                    background-image: linear-gradient(to right, rgba(0, 191, 255, 0), rgba(0, 191, 255, 0.75), rgba(0, 191, 255, 0));
                    border-bottom: 1px
                }
        </style>
    </head>
    <body class = "w3-dark-grey">
        <h1 class="w3-text-white" style="font-weight:bold">&nbsp Marcas de Automóviles</h1>
        <br>
        <ul class="w3-ul">
          <li class="w3-hover-red w3-button w3-block w3-left-align"><a href='/practica7/Crear' target="_blank">&nbsp&nbsp&nbsp&nbsp Crear Marca</a></li>
          <li class="w3-hover-indigo w3-button w3-block w3-left-align"><a href='/practica7/Actualizar' target="_blank">&nbsp&nbsp&nbsp&nbsp Actualizar Marca</a></li>
          <li class="w3-hover-red w3-button w3-block w3-left-align"><a href='/practica7/Consulta' target="_blank">&nbsp&nbsp&nbsp&nbsp Consultar Marca</a></li>
          <li class="w3-hover-indigo w3-button w3-block w3-left-align"><a href='/practica7/Eliminar' target="_blank">&nbsp&nbsp&nbsp&nbsp Eliminar Marca</a></li>
        </ul>
        <hr>
        <p align="center" style="color:rgba(0, 250, 255, 0.35)"><font size='1'>Desarrollo de aplicaciones web</font></p>
    </body>
    
</html>