<!DOCTYPE html>
<html lang='es'>
    <head>
        <title>Práctica 6</title>
        <meta charset="utf-8">
        <meta name ="viewport" content ="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <style> a {text-decoration: none}
                hr{
                    border: 0;
                    position: relative;
                    height: 1px;
                    margin-bottom: -14px;
                    overflow: hidden;
                    background-image: linear-gradient(to right, rgba(0, 191, 255, 0), rgba(0, 191, 255, 0.75), rgba(0, 191, 255, 0));
                }
        </style>
    </head>
    <body class = "w3-dark-grey">
        <h1 class="w3-text-cyan" style="font-weight:bold">&nbsp; Lenguages de programación</h1>
        <br>
        <ul class="w3-ul">
            <li class="w3-hover-teal w3-button w3-block w3-left-align"><a href="/agregar">&nbsp;&nbsp;&nbsp;&nbsp; Dar de alta un nuevo lenguaje</a></li>
            <li class="w3-hover-amber w3-button w3-block w3-left-align"><a href="/lista">&nbsp;&nbsp;&nbsp;&nbsp; Listar todos los lenguajes</a></li>
        </ul>
        <hr>
        <p style="color:rgba(0, 250, 255, 0.35); text-align: center; font-size: 12px;">Desarrollo de aplicaciones web</p>
    </body>
</html>