<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Lista de Lenguajes</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <style> a {text-decoration: none}
                hr{
                    border: 0;
                    position: relative;
                    height: 1px;
                    margin-bottom: -14px;
                    overflow: hidden;
                    background-image: linear-gradient(to right, rgba(0, 191, 255, 0), rgba(0, 191, 255, 0.75), rgba(0, 191, 255, 0));
                }
        </style>
    </head>
    <body class="w3-dark-grey">
    <h1 class="w3-text-cyan" style="font-weight:bold">&nbsp; Lenguages de programación</h1>
    <br>
    <div class="w3-container">
      <table class="w3-table-all">
        <thead>
          <tr class="w3-teal">
            <th>Lenguaje</th>
            <th>Edad Actual</th>
            <th>Autor</th>
          </tr>
        </thead>
        <%lenguajes.forEach((lenguaje)=>{%>
        <tr class="w3-hover-amber w3-text-black">
          <td><%=lenguaje.nombre%></td>
          <td><%=new Date().getFullYear() - lenguaje.anio%></td>
          <td><%=lenguaje.autor%></td>
        </tr>
        <%});%>
      </table>
    </div>
    
    <br>
    
    <div class="w3-container">
      <a href="/" class="w3-btn w3-round-xxlarge w3-indigo">Regresar al menú principal</a>
    </div>
    <hr>
    <p style="color:rgba(0, 250, 255, 0.35); text-align: center; font-size: 12px;">Desarrollo de aplicaciones web</p>
    </body>
</html> 